.movie__inner {
  display: flex;
  justify-content: space-evenly;
  margin-top: 50px;
}

.movie-image {
  background-image: url('https://raw.githubusercontent.com/Tsyman/songbird-data/master/90-00/Leon/Leon.jpg');
  width: 200px;
  height: 200px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.width {
  width: 500px;
}